_site
Gemfile.lock
*.gem
.sass-cache
.jekyll-metadata
.DS_Store

*.secret
_posts/key/*
_posts/key/
_posts/key
docs/_posts_/key/*
docs/_posts_/key/
docs/_posts_/key
_ipynb/key/*
_ipynb/key/
_ipynb/key

_posts/*files
_posts/*files/
_posts/*files/*